body { 
    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
h1 {
    text-align: center;
    font-size: 45px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    background-color: #eabc41;
    border: none;
    color: #352d3a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    text-align: center;
}
.logop {
    display: block;
    border-radius: 50%;
    height: 75px;
    width: 75px
 }
 .hp {
     border-radius: 50%;
     height: 200px;
     width: 200px;
 }
 #dltext {
     text-align: center;
     font-size: 60px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
 }
 .topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #eabc41;
    color: black;
  }    
  p {
      color: white;
      font-family: 'Times New Roman', Times, serif;
  }
  .Textblock
  {
    text-align: center;
  }